<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
  <!-- <script src="https://cdn.jsdelivr.net/npm/prando@6.0.1/dist/Prando.umd.min.js"></script> -->
  <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

      <script defer src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
</head>

<body>
  <div id="sketch-holder">
  </div>
  <script>
    var viper
    var startedDrawing = false
    var stop = false
    let patternIndex = 4
    let patterns = ['random', 'circle', 'square', 'eight', 'heart']
    document.getElementById('sketch-holder').addEventListener('click', () => {
      stop = !stop
      // if (stop) {
      // viper.pattern = patterns[patternIndex % patterns.length]
      // patternIndex++
      // }
    })

    viper = new Viper({
      source: window.location.hash || Math.random().toString(),
      setting: "browser",
      style: "maskClipRandom",
      pattern: "randomLoop",//patterns[patternIndex % patterns.length],
      // style: "debug",
      // hideHead: true,
      // hideTail: true,
      // hideHole: true,
      redrawBackground: true,
      maxNumberOfLines: 16,
      hideHole: false,
      hideSnake: false,
      fps: 50
    })
    function preload() {
      viper.preload()
      console.log('preload')
    }
    function setup() {
      console.log('setup')
      viper.setup()
      // viper.addAllLines()
    }
    function draw() {
      if (!startedDrawing) {
        startedDrawing = true
        console.log('draw')
      }
      if (stop) return
      viper.draw()
    }
  </script>
</body>

</html>