<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="<%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.metaDesc %>  " />
    <title><%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.title %></title>
    <style>html, body, * {margin: 0px;padding: 0px;} :root {--canvas-size: min(1vw, 1vh);} @media (orientation: landscape) {:root {--canvas-size: 100vh;}} @media (orientation: portrait) {:root {--canvas-size: 100vw;}} canvas {cursor: pointer; width: var(--canvas-size) !important ;height: var(--canvas-size) !important;}</style>
  </head>
  <body><div id="sketch-holder"></div>
    <%= "<script>"  + compilation.assets['viper.js'].source() + p5Content %>
let viper, length = 2, patternIndex = 0;const patterns = ['random','circle','square','eight','bigEight','rotatingEight','randomLoop','heart','star'];document.getElementById('sketch-holder').addEventListener('click', () => {if (viper.hideHead) {return}patternIndex++;viper.pattern = patterns[patternIndex % patterns.length];}); let tokenId = (window.location.hash && window.location.hash.replace("#", "")) || null;if (tokenId && tokenId.indexOf("-") > -1) {const info = tokenId.split("-");tokenId = info[0];length = parseInt(info[1]);}var s = function(p) {p.preload = async () => {viper = new Viper({tokenId, setting: "browser", pattern: patterns[patternIndex], maxNumberOfLines: length});}; p.setup = async () => {viper.setup(p);await viper.preload();}; p.draw = async () => {viper.draw();}}; new p5(s);
    </script>
  </body>
</html>